body {
  background-color: #ADD8E6;
  font-family: Georgia, serif;
  margin: 10% 10%;
}


aside {
    width: 30%;
    border-left: 1px solid;
    float: right;
    font-style: Helvetica;
    padding-left: 1rem;
    margin-left: 2rem;
}



.skills{
  boarder-bottom: 1px solid;
}



.massage{
   float:right;
   width:200px;
   height:200px;
   background-image: url(images/massage.jpg);
   background-size: 100%;
}


.taco{
   float:right;
   width:200px;
   height:200px;
}
