body {
  background-color: #ADD8E6;
  font-family: Georgia, serif;
  margin: 10% 10%;
}


aside {
    width: 30%;
    border-left: 1px solid;
    float: right;
    font-style: Georgia, serif;
    padding-left: 1rem;
    margin-left: 2rem;
}



.skills{
  boarder-bottom;
}
